.contact_txt{
    width: 1000px;
    margin: 0 auto;
}
.map-wrap{
    width: 1000px;
    margin: 0 auto;
}
#title_cu{
    padding: 50px;
    text-align: center;
    font-size: xx-large;
    vertical-align:middle;
    color: rgba(93,93,93,0.95);
}
#map {
    height: 100%;
}
.map-l{
    float: left;
}
.map-r{
    float: left;
}
.title-item{
    width: 280px;
    padding: 0 0 20px 20px;
    font-size: x-large;
    color: rgba(93,93,93,0.95);
}
.content{
    width: 280px;
    padding: 0 0 20px 20px;
    font-size: large;
    color: rgba(93,93,93,0.95);
}

