.building_board {
    width: 1000px;
    margin: 0 auto;
    border:2px solid #a1a1a1;
    margin-top: 50px;
}
.inside {
    text-align: center;
    font-size: 30px;
}
.building_info{
    position:absolute;
}
.apartment_text {
    clear: both;
    margin:5px;
}
.apartment_board {
    margin:5px;
}
.type_info{
    float: left;
    margin: 5px;
    font-weight: bold;
}
.info {
    float: left;
    margin: 5px;
}
.graph {
    margin: 0 auto;
    margin-top: 30px;
    width: 1000px;height:400px;
}
.request_title {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}
.request_text {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}
.message_to {
    width: 1000px;
    margin: 0 auto;
}
.request_button {
    margin: 0 auto;
}
.modify_box {
    margin-left: 550px;
}
#request_title {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    vertical-align:middle;
    color: rgba(93,93,93,0.95);
}
table {
    border-collapse: collapse;

}
th {
    height: 40px;
    width: 300px;
}
table, td, th {
    border: 1px solid black;
}